{% extends 'main/base.html' %} {% block content %}
<h1>Welcome to Aarav's To Do List Website</h1>
<p>This is a simple to-do list application where you can manage your tasks.</p>
<p>Use the navigation menu to add, view, or delete tasks.</p>
<p>Enjoy managing your tasks!</p>
{% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Logout</button>
    </form>
{% endif %}
{% endblock %}

{% block login-page-content %}
<h1>Welcome to Aarav's To Do List Website</h1>
<p>This is a simple to-do list application where you can manage your tasks.</p>
<p>Use the navigation menu to add, view, or delete tasks.</p>
<p>Enjoy managing your tasks!</p>
{% endblock %}