<!-- This allows us to list the ToDoList(s)-->
{% extends 'main/base.html' %} {% block head %}
<title>View List</title>
{% endblock %} {% block content %}
<h1>To-Do List</h1>
<h1>{{ls.title}}</h1>
<form action="#" method="post">
  {% csrf_token %}
  <ul>
    {% for item in ls.item_set.all %} 
      {% if item.completed == True %}
        <li><input type="checkbox" value="clicked" name ="c{{item.id}}" checked>{{item.text}}</li>
      {% else %}
        <li><input type="checkbox" value="clicked" name ="c{{item.id}}" >{{item.text }}</li>
      {% endif %} 
    {% endfor %}
  </ul>
  <button type="submit", name="save", value="save">Save</button>
  <input type="text", name="new", placeholder="Add new item here">
  <button type="submit", name="newItem", value="newItem">Add New Item</button>
</form>
{% endblock %}
