{% extends 'main/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h1 class="mt-2">Login</h1>
                    <hr class="mt-0 mb-4">
                    <p>You are already logged in. If you want to log in as a different user, please log out first.</p>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Logout</button>
                    </form>
                    <p class="mt-3">
                        Don't have an account? Create one <a href="/register">here</a>.<br>
                        Or, if you want to go back to the home page, click <a href="/">here</a>.<br>
                        Or, if you want to view your to-do lists, click <a href="/view">here</a>.<br>
                        Or, if you want to create a new to-do list, click <a href="/create">here</a>.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% load crispy_forms_tags %}
{% block login-page-content %}
    <form action="" method="post" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <p>Don't have an account? Create one <a href="register/">here</a>.</p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
{% endblock %}